body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

#controls, #displayOptions {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f4f4f9;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#output {
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 80px; /* ボタンの高さ分の余白を確保 */
} 